@{
    ViewData["Title"] = "Contact";

}
<section>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <img src="~/assets/img/illustrations/callback.png" alt="..." />
                <h5 class="text-danger">تواصل معنا</h5>
                <h2>سنتصل بك في أقرب وقت.</h2>
                <p class="text-muted">من الاثنين إلى الجمعة، من الساعة 9 صباحًا حتى 5 مساءً.</p>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <form class="row">
                    <div class="mb-3">
                        <label class="form-label visually-hidden" for="inputName">الاسم</label>
                        <input class="form-control form-quriar-control" id="inputName" type="text" placeholder="الاسم" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label visually-hidden" for="inputEmail">البريد الإلكتروني</label>
                        <input class="form-control form-quriar-control" id="inputEmail" type="email" placeholder="البريد الإلكتروني" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label visually-hidden" for="validationTextarea">الرسالة</label>
                        <textarea class="form-control form-quriar-control is-invalid border-400" id="validationTextarea" placeholder="الرسالة" style="height: 150px" required="required"></textarea>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">إرسال الرسالة<i class="fas fa-paper-plane ms-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- end of .container-->

</section>